version: "3.9"
services:
  mariadb:
    image: mariadb:11
    container_name: ecommerce-mariadb
    command: ["--character-set-server=utf8mb4", "--collation-server=utf8mb4_unicode_ci"]
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: ecommerce
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
  redis:
    image: redis:7
    container_name: ecommerce-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  mariadb_data:
  redis_data:
